<html>

<head>
  <title>Datascoper: Datascope Explorer</title>
</head>

<body>
<p>
<div style="width:400px; margin:0 auto;">
<img src="TCdata360_logo.png" alt="Datascope: Open Trade and Competitiveness Data" width="90%" height="90%">
</div>
<br>
<div style="width:1000px; margin:0 auto; font-family: Tahoma, Geneva, sans-serif;">
<h1 style="text-align:center;"><b>TC</b>datascoper: Visually Explore TCdata360</h1>
<br>
<h4 style="text-align:center;">TCdatascoper uses <a href="http://distill.pub/2016/misread-tsne/" target="_blank">t-SNE</a> plot to visualize a large number of indicators. In the cloud below, each point represents a country at a point in time. The closer the points are to one another, the more similar their values are for the selected indicators. This defines the shape of <b>TC</b>data<b>360</b> data in 2-D</h4>
</div>
<br>
<br>
</p>

</body>
</html>
